<div class="row justify-content-center mt-3">

	<section class="card post-details">
		<div class="card-header">

			{{#if post}}
				<i class="fas fa-user mr-2"></i>
				<h5 style="display: inline;">{{post.user.username}}</h5>
			{{/if}}
		</div>

		<div class="card-body">
			<p class="card-text date">Posted: {{format_date post.createdAt}}</p>
			<a href="/post/{{post.id}}">
				<h5 class="card-title">{{post.post_title}}</h5>
			</a>
			<p class="card-text"> {{post.post_body}}</p>
		</div>
		{{>writeComment}}
		{{>showComments}}
	</section>

</div>