<div class="row justify-content-center mt-3">

  <section class="card post-details">
    <a href="/post/{{post.id}}">
      <div class="card-header">

        {{#if logged_in}}
          <p style="display: inline;">Posted By:</p>
          <h5 style="display: inline;">{{username}}</h5>
        {{/if}}
      </div>

      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text"> {{post.text}}</p>
        <p class="card-text date">{{createdAt}}</p>
      </div>
    </a>
  </section>

</div>